# Ignorar entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env
*.env

# Archivos de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db